<h1>Timeline</h1>
<div id="post">
<ul class="posts">
 {{#each posts}}
  <div class="post-div" postId={{this._id}}>
    <div class="username">Username: {{this.username}}</div>
    <div class="message">{{this.message}}</div>
    <div class="timeSince">{{this.dateAndTime}}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>

    
    
    <script>
      console.log("HERE");

      const date = document.querySelector('.timeSince').innerText
      console.log(date)
  
      const formattedDate = moment(date, moment.defaultFormat).toDate()
      console.log(formattedDate)
   
      moment(`${formattedDate}`).fromNow();


    </script>
    </div>

    <br>
    <input type="button" value="Like" class="likeUnlike" data-button-id={{this._id}} >
  </div>
  <div class="delete-post">
    <form action="/posts/{{this._id}}" method="post" id="delete-post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete post" />
    </form>
    <br>
  </div>
  {{/each}}
</ul>
</div>
<a class="new-post-link" href="/posts/new">New post</a>




